In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [44]:
df = pd.read_csv('sp500_closefull.csv', index_col=0, parse_dates=True)

In [45]:
df.head()

,KLAC,AIG,SNA,CNP,VMC,YUM,QRVO,DLR,PAYX,MSI,...,M,ZION,GPC,DIS,FE,FRT,JNPR,LRCX,AAL,REGN
2010-01-04,36.919998,29.889999,42.860001,14.52,52.730000,25.226456,70.400002,50.150002,30.820000,32.218723,...,17.059999,13.33,38.130001,32.070000,46.770000,67.029999,27.180000,39.880001,4.77,24.629999
2010-01-05,36.509998,29.330000,42.840000,14.41,52.930000,25.140186,70.400002,50.480000,30.799999,31.774050,...,16.860001,13.80,38.090000,31.990000,46.250000,66.949997,26.750000,39.610001,5.31,25.100000
2010-01-06,36.369999,29.139999,43.080002,14.27,53.849998,24.960461,70.400002,49.799999,31.049999,32.218723,...,17.100000,15.00,38.020000,31.820000,46.750000,66.769997,26.030001,39.430000,5.09,24.719999
2010-01-07,36.570000,28.580000,43.799999,14.41,53.169998,24.953272,70.400002,50.240002,31.540001,32.865524,...,17.490000,16.68,38.230000,31.830000,46.049999,66.750000,26.160000,39.360001,5.24,24.570000
2010-01-08,37.119999,29.340000,44.709999,14.24,52.650002,24.960461,70.400002,50.799999,31.559999,31.369801,...,16.920000,16.41,38.240002,31.879999,45.810001,66.330002,26.250000,40.349998,5.14,24.370001

In [46]:
df_returns=pd.DataFrame()

In [47]:
# Assuming df is your original DataFrame
log_diff_list = []

for name in df.columns:
    log_diff = np.log(df[name]).diff()
    log_diff_list.append(log_diff)

# Concatenate all the log differences into a single DataFrame
df_returns = pd.concat(log_diff_list, axis=1)

# Set the column names to be the same as the original DataFrame
df_returns.columns = df.columns

In [48]:
df_returns.head()

,KLAC,AIG,SNA,CNP,VMC,YUM,QRVO,DLR,PAYX,MSI,...,M,ZION,GPC,DIS,FE,FRT,JNPR,LRCX,AAL,REGN
2010-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-05,-0.011167,-0.018913,-0.000467,-0.007605,0.003786,-0.003426,0.0,0.006559,-0.000649,-0.013898,...,-0.011793,0.034651,-0.001050,-0.002498,-0.011181,-0.001194,-0.015947,-0.006793,0.107246,0.018903
2010-01-06,-0.003842,-0.006499,0.005587,-0.009763,0.017232,-0.007175,0.0,-0.013562,0.008084,0.013898,...,0.014134,0.083382,-0.001839,-0.005328,0.010753,-0.002692,-0.027285,-0.004555,-0.042314,-0.015255
2010-01-07,0.005484,-0.019405,0.016575,0.009763,-0.012708,-0.000288,0.0,0.008797,0.015658,0.019876,...,0.022551,0.106160,0.005508,0.000314,-0.015087,-0.000300,0.004982,-0.001777,0.029044,-0.006086
2010-01-08,0.014928,0.026245,0.020563,-0.011868,-0.009828,0.000288,0.0,0.011085,0.000634,-0.046579,...,-0.033133,-0.016320,0.000262,0.001570,-0.005225,-0.006312,0.003434,0.024841,-0.019268,-0.008173

In [49]:
df_returns['SPY'] = df_returns['SPY'].shift(-1)
df_returns['SPY'].tail()

2024-07-23   -0.022923
2024-07-24   -0.005224
2024-07-25    0.011137
2024-07-26    0.000588
2024-07-29         NaN
Name: SPY, dtype: float64

In [50]:
df_returns.shape

(3666, 443)

In [51]:
Ntest = 1000
train = df_returns.iloc[1:-Ntest]
test = df_returns.iloc[-Ntest:-1]

In [52]:
df_returns.columns

Index(['KLAC', 'AIG', 'SNA', 'CNP', 'VMC', 'YUM', 'QRVO', 'DLR', 'PAYX', 'MSI',
       ...
       'M', 'ZION', 'GPC', 'DIS', 'FE', 'FRT', 'JNPR', 'LRCX', 'AAL', 'REGN'],
      dtype='object', length=443)

In [53]:
# x_cols = df.columns.drop('SPY')
x_cols = ['AAPL', 'MSFT', 'AMZN', 'JNJ', 'V', 'PG', 'JPM']
x_cols

['AAPL', 'MSFT', 'AMZN', 'JNJ', 'V', 'PG', 'JPM']

In [54]:
Xtrain = train[x_cols]
Ytrain = train['SPY']
Xtest = test[x_cols]
Ytest = test['SPY']

In [59]:
Xtrain.head()

,AAPL,MSFT,AMZN,JNJ,V,PG,JPM
2010-01-05,0.001727,0.000323,0.005883,-0.011663,-0.011525,0.000327,0.019185
2010-01-06,-0.016034,-0.006156,-0.018282,0.008101,-0.013519,-0.004755,0.005479
2010-01-07,-0.001850,-0.010454,-0.017160,-0.007163,0.009264,-0.005438,0.019615
2010-01-08,0.006626,0.006873,0.026717,0.003432,0.002762,-0.001323,-0.002459
2010-01-11,-0.008861,-0.012802,-0.024335,0.000156,-0.002878,-0.003979,-0.003363

In [60]:
Ytrain.head()

2010-01-05    0.000704
2010-01-06    0.004212
2010-01-07    0.003322
2010-01-08    0.001396
2010-01-11   -0.009370
Name: SPY, dtype: float64

In [62]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(Xtrain, Ytrain)
model.score(Xtrain, Ytrain), model.score(Xtest, Ytest)

(0.028346058518632034, -0.022185311729904456)

In [63]:
# Direction
Ptrain = model.predict(Xtrain)
Ptest = model.predict(Xtest)
np.mean(np.sign(Ptrain) == np.sign(Ytrain)), np.mean(np.sign(Ptest) == np.sign(Ytest))

(np.float64(0.5354596622889306), np.float64(0.4934934934934935))

In [64]:
set(np.sign(Ptrain)), set(np.sign(Ptest))

({np.float64(-1.0), np.float64(1.0)}, {np.float64(-1.0), np.float64(1.0)})

In [65]:
train_idx = df.index <= train.index[-1]
test_idx = df.index > train.index[-1]

train_idx[0] = False
test_idx[-1] = False

In [66]:
df_returns['Position'] = 0 # create new column
df_returns.loc[train_idx,'Position'] = (Ptrain > 0)
df_returns.loc[test_idx,'Position'] = (Ptest > 0)

/tmp/ipykernel_35473/3679683236.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[False  True  True ... False  True False]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_returns.loc[train_idx,'Position'] = (Ptrain > 0)

In [67]:
df_returns['AlgoReturn'] = df_returns['Position'] * df_returns['SPY']

In [68]:
# Total algo log return train
df_returns.iloc[1:-Ntest]['AlgoReturn'].sum()

1.5676278022971815

In [69]:
# Total algo log return test
df_returns.iloc[-Ntest:-1]['AlgoReturn'].sum()

0.2837217559154155

In [70]:
# Total return buy-and-hold train
Ytrain.sum()

np.float64(1.0791809572326354)

In [71]:
# Total return buy-and-hold test
Ytest.sum()

np.float64(0.4882168596359513)

In [72]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(C=10)
Ctrain = (Ytrain > 0)
Ctest = (Ytest > 0)
model.fit(Xtrain, Ctrain)
model.score(Xtrain, Ctrain), model.score(Xtest, Ctest)

(0.5527204502814259, 0.5405405405405406)

In [73]:
Ptrain = model.predict(Xtrain)
Ptest = model.predict(Xtest)
set(Ptrain), set(Ptest)

({np.False_, np.True_}, {np.False_, np.True_})

In [74]:
df_returns.loc[train_idx,'Position'] = Ptrain
df_returns.loc[test_idx,'Position'] = Ptest
df_returns['AlgoReturn'] = df_returns['Position'] * df_returns['SPY']

In [75]:

# Total algo log return train
df_returns.iloc[1:-Ntest]['AlgoReturn'].sum()

1.413442323853677

In [76]:
# Total algo log return test
df_returns.iloc[-Ntest:-1]['AlgoReturn'].sum()

0.5064298741010207

In [77]:
# Total return buy-and-hold
Ytrain.sum(), Ytest.sum()

(np.float64(1.0791809572326354), np.float64(0.4882168596359513))

In [78]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state=2)
model.fit(Xtrain, Ctrain)
model.score(Xtrain, Ctrain), model.score(Xtest, Ctest)

(1.0, 0.5185185185185185)

In [79]:
Ptrain = model.predict(Xtrain)
Ptest = model.predict(Xtest)

In [80]:
df_returns.loc[train_idx,'Position'] = Ptrain
df_returns.loc[test_idx,'Position'] = Ptest

In [81]:
df_returns['AlgoReturn'] = df_returns['Position'] * df_returns['SPY']

In [82]:
# Total algo log return train
df_returns.iloc[1:-Ntest]['AlgoReturn'].sum()

9.863519339638652

In [83]:
# Total algo log return test
df_returns.iloc[-Ntest:-1]['AlgoReturn'].sum()

0.37055587555817926

In [84]:
# Total return buy-and-hold
Ytrain.sum(), Ytest.sum()

(np.float64(1.0791809572326354), np.float64(0.4882168596359513))